body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Убираем скроллбары */
    background-color: #222; /* Фон за пределами канваса */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-area {
    position: relative; /* Для позиционирования оверлея */
    width: 100vw;
    height: 100vh;
}

#game-canvas {
    display: block; /* Убирает небольшой отступ снизу */
    background-color: #333; /* Цвет фона самой игровой зоны */
    width: 100%;
    height: 100%;
}

#ui-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Позволяет кликать сквозь оверлей на канвас, если нужно */
}

#name-prompt, #game-over-message {
     pointer-events: auto; /* Делаем элементы внутри оверлея кликабельными */
}

#nickname-input, #play-button, #respawn-button {
    padding: 10px;
    margin: 5px;
    font-size: 1em;
}
